@using KaloriTakip.Models
@model List<tbl_Kullanici>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
        .hidetext {
            -webkit-text-security: disc; /* Default */
        }
    </style>
    <title>Kullanici Listesi</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/Yonetici/Anasayfa">Kalori Takip</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Yonetici/KullaniciListele">Kullanici Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Yonetici/DiyetisyenListele">Diyetisyen Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/LogOut">Çıkış</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-4">
        <table class="table table-bordered">
            <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Email</th>
                <th>Cinsiyet</th>
                <th>Sifre</th>
                <th>Sifre Göster</th>

            </tr>
            <tbody>
                @foreach (var klnc in Model) /*Model içerisinde bulunan kullanıcı bilgilerini listele*/
                {
                    <tr>
                        <td>@klnc.Adi</td>
                        <td>@klnc.Soyadi</td>
                        <td>@klnc.Email</td>
                        <td>@klnc.Cinsiyet</td>
                        <td class="hidetext">@klnc.Sifre</td>
                        <td>
                            <button class="btn btn-dark btnShow" type="button">
                                <i class="fa-solid fa-eye text-white"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        const hidetexts = document.querySelectorAll(".hidetext");
        const btnShows = document.querySelectorAll(".btnShow");

        btnShows.forEach((btn, idx) => { /*tıklanan butonunun şifresini gizle/göster */
            btn.addEventListener("click", () => {
                hidetexts[idx].classList.toggle("hidetext");
            })
        })
    </script>
</body>
</html>
